<div class="btn btn-primary" ng-click="goNext('/scripts/new')">Add Script</div>
<h2 class="sub-header">Your Scripts</h2>

<div class="table-responsive" ng-controller="ScriptController">
  <table ng-table="tableParams" class="table ng-scope ng-table">
    <thead class="ng-scope">
      <tr>
          <th>Project Name</th>
          <th>Budget</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users" class="ng-scope">
          <td data-title="'ProjectName'" sortable="'projectName'" class="ng-binding">
            {{user.projectName}}
          </td>
          <td data-title="'budget'" sortable="'budget'" class="ng-binding">
            {{user.budget}}
          </td>
      </tr>
    </tbody>
  </table>
</div>