<div class="btn btn-primary" ng-click="goNext('/scripts/new')">Add Script</div>
<h2 class="sub-header">Your Scripts</h2>
<p>Show me all <input class=""></p>

<div class="table-responsive" ng-controller="ScriptController">
  <table ng-table="tableParams" class="table ng-scope ng-table">
    <thead>
      <tr>
        <td>Date</td>
        <td>Project Name</td>
        <td>Writer</td>
        <td>Director</td>
        <td>Star</td>
        <td>Tools</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects" class="ng-scope">
          <td data-title="'Date Submitted'" sortable="'dateSubmitted'" class="ng-binding">
            {{project.dateSubmitted | date}}
          </td>
          <td data-title="'Project Name'" sortable="'writer'" class="ng-binding">
            {{project.name}}
          </td>
          <td data-title="'Writer'" sortable="'writer'" class="ng-binding">
            {{project.writer}}
          </td>
          <td data-title="'Director'" sortable="'director'" class="ng-binding">
            {{project.director}}
          </td>
          <td data-title="'Star'" sortable="'star'" class="ng-binding">
            {{project.star}}
          </td>
          <td>
            <button class="btn btn-primary" ng-click="sendEmail(project)">Send</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>